*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif; 
}

/* Nav-bar */
.hero__section{
    background-image: url(./images/heroSectionBackground.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 60vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 220px;
    height: 60px;
    font-size: 18px;
    font-weight: 300;
}

.navbar .left_icon{
    font-size: 15px;
    font-weight: 500;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar__menu_container{
    display: flex;
    gap: 30px;
}

.user__icon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    display: none;
}





/* Hero-Section-Logo */
.hero__section__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.hero__section__logo .logo{
    height: 60px;
    width: 300px;
}

.hero__section__logo .logo img{
    height: 100%;
    width: 100%;
}


/* Title Area */
.title{
    text-align: center;
    padding: 30px;
    font-size: 35px;
    font-weight: 300;
}

.title .state{
    font-weight: 400;
}




/* Responsive Search-bar */

.searchbar__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-input-wrapper .location-icon{
    background-color: white;
    border: none;
    outline: none;
    height: 50px;
    width: 35px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    color: #ff8277;
    font-size: 25px;
    padding: 8px;
    margin-right: -2px;
}

.location-input-wrapper .location__search{
    width: 230px; 
    height: 50px;
    outline: none;
    border: none;
    padding-left: 5px;
    font-size: 16px
}

.location-input-wrapper .dropdown-icon{
    height: 50px;
    width: 35px;
    margin-right: -2px;
    margin-left: -2px;
    background-color: white;
    border: none;
    outline: none;
    font-size: 25px;
    cursor: pointer;
}

.searchbar__wrapper .line{
    color: rgb(184, 182, 182);
    font-weight: 200;
    margin-left: 5px;
}

.resturant-input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resturant-input-wrapper .search-logo{
    height: 50px;
    width: 32px;
    background-color: white;
    border: none;
    outline: none;
    margin-right: -2px;
}

.resturant-input-wrapper .search-logo i{
    font-size: 15px;
    color: #666;
    font-weight: 600;
    margin-left: 13px;
}

.resturant-input-wrapper .resturent__searchbar{
    height: 50px;
    width: 550px;
    padding-left: 15px;
    outline: none;
    border: none;
    font-size: 16px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}


/* Items - Section  */

.items__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 1.5%;
}

.item__wrapper{
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 32%;
    height: 250px;
    margin: 12px;
    cursor: pointer;
    transition: all  0.55s;
}

.item-image{
    height: 155px;
    margin-bottom: 13px;   
}

.item-image img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container{
    padding-left: 20px;
}

.text-container .heading{
    font-weight: 400;
    font-size: large;
    transition: all  0.6s;
}

.text-container .message{
    font-size: 16px;
    color: #666;
    margin-top: 4px;
}

.item__wrapper:hover{
    transform: scale(1.1);  
}

.heading:hover{
    color: #ff8277;
}



/* Collection - Section */

.collection__wrapper{
    margin-bottom: 30px;
    margin-top: 60px;
    margin-left: 9%;
    margin-right: 9%;
}

.col-heading{
    display: block;
    font-size: 30px;
    font-weight: 400;
    color: rgb(28, 28, 28);
}

.text-section{
    display: flex;
    justify-content: space-between;
}

.explore__message{
    display: block;
    font-size: 16px;
    color: rgb(77, 76, 76);
    font-weight: 300;

}

.collection__option{
    display: inline-flex;
    padding: 0.3rem;
    background-color: transparent;
    cursor: pointer;
    border: 0.1rem solid transparent;
    border-radius: 0.4rem;
    line-height: 1;
    font-weight: 300;
    color: rgb(255, 126, 139);
}

.collection__option i{
    margin-left: 3px;
}


.collection__card__container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 24px;
}

.collection__card__container .card{
    height: 330px;
    min-width: 280px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.card1{
    background-image: url(./images/collection-1.png);
}

.card2{
    background-image: url(./images/collection-2.png);
}

.card3{
    background-image: url(./images/collection-3.png);
}

.card4{
    background-image: url(./images/collection-4.png);
}

 .overlay{
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.9) 0%,
        rgba(0,0,0,0.05) 50%,
        rgba(0,0,0,0.05) 85%
    );
    width: 100%;
    height: 100%;
    display: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.collection__card__container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 18px;
} 

.content h4{
    font-weight: 400;
}

.content span{
    font-size: 15px;
}







@media only screen and (max-width: 1100px) {

        /* Navbar section */

    .navbar__menu_container .link{
        display: none;
    }

    .user__icon{
        display: flex;
    }

    .navbar{
        padding: 16px;
    }

    .hero__section{
        min-height: 80vh;
    }


        /* searchbar__wrapper Section */

    .searchbar__wrapper{
        flex-direction: column;
        width: 100%;
    }


        /* Location-Input-Wrapper */
        
    .location-input-wrapper .location__search{
        width: 600px;
    }
    
    .location-input-wrapper .dropdown-icon{
        border-bottom-right-radius: 9px;
        border-top-right-radius: 9px;
        margin-left: -2px;
    }

    .location-input-wrapper .line{
        display: none;
    }


        /* Resturant-input-wrapper */
    
    .resturant-input-wrapper .search-logo{
        border-bottom-left-radius: 9px;
        border-top-left-radius: 9px;
        margin-right: -2px;
    }

    .resturant-input-wrapper .resturent__searchbar{
        width: 640px;
    }
    
    .location-input-wrapper,
    .resturant-input-wrapper{
        padding: 15px;
    }


        /* Complete Searchbar responsive */

    .searchbar__wrapper,
    .location-input-wrapper,
    .resturant-input-wrapper{
        width: 100%;
    }

    
        /* Item-section  */
        
    .item__wrapper{
        width: 100%;
        height: 100%;
    }

}


@media only screen and (max-width: 811px){

    /* Item-Section */
    .items__container{
        flex-direction: column; 
    }

    .item__wrapper{
        width: 100%;
        height: 100%;
    }
}